node_modules/
node_modules/**/*.exe
dist/
*.log
*.exe
*.dmg
*.AppImage

# Ignore files larger than 100MB
*.iso
*.zip
*.tar.gz
*.7z
*.mp4
*.mp3
*.avi
*.mkv
*.mov
*.psd
*.ai
*.ttf
*.otf
*.woff
*.woff2
*.sqlite
*.db
*.tmp
*.bak
*.old
